<ul id="menu">
  <li id="dashboard"><a href="home"><i class="fa fa-dashboard fa-fw"></i> <span>text_dashboard</span></a></li>
  <li id="catalog"><a class="parent"><i class="fa fa-tags fa-fw"></i> <span>text_catalog</span></a>
    <ul>
      <li><a href="category">text_category</a></li>
      <li><a href="product">text_product</a></li>
      <li><a href="recurrin">text_recurrin</a></li>
      <li><a href="filter">text_filter</a></li>
      <li><a class="parent">text_attribute</a>
        <ul>
          <li><a href="attribute">text_attribute</a></li>
          <li><a href="attribute_group">text_attribute_group</a></li>
        </ul>
      </li>
      <li><a href="option">text_option</a></li>
      <li><a href="manufacturer">text_manufacturer</a></li>
      <li><a href="download">text_download</a></li>
      <li><a href="review">text_review</a></li>
      <li><a href="information">text_information</a></li>
    </ul>
  </li>
  <li id="extension"><a class="parent"><i class="fa fa-puzzle-piece fa-fw"></i> <span>text_extension</span></a>
    <ul>
      <li><a href="installer">text_installer</a></li>
      <li><a href="modification">text_modification</a></li>
      <li><a href="module">text_module</a></li>
      <li><a href="shippin">text_shippin</a></li>
      <li><a href="payment">text_payment</a></li>
      <li><a href="total">text_total</a></li>
      <li><a href="feed">text_feed</a></li>
      <li><a class="parent">text_openbay_extension</a>
        <ul>
          <li><a href="openbay_link_extension">text_openbay_dashboard</a></li>
          <li><a href="openbay_link_orders">text_openbay_orders</a></li>
          <li><a href="openbay_link_items">text_openbay_items</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li id="sale"><a class="parent"><i class="fa fa-shopping-cart fa-fw"></i> <span>text_sale</span></a>
    <ul>
      <li><a href="order">text_order</a></li>
      <li><a href="order_recurrin">text_order_recurrin</a></li>
      <li><a href="return">text_return</a></li>
      <li><a class="parent">text_customer</a>
        <ul>
          <li><a href="customer">text_customer</a></li>
          <li><a href="customer_group">text_customer_group</a></li>
          <li><a href="custom_field">text_custom_field</a></li>
          <li><a href="customer_ban_ip">text_customer_ban_ip</a></li>
        </ul>
      </li>
      <li><a class="parent">text_voucher</a>
        <ul>
          <li><a href="voucher">text_voucher</a></li>
          <li><a href="voucher_theme">text_voucher_theme</a></li>
        </ul>
      </li>
      <li><a class="parent">text_paypal ?></a>
        <ul>
          <li><a href="paypal_search ?>">text_paypal_search ?></a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li><a class="parent"><i class="fa fa-share-alt fa-fw"></i> <span>text_marketin</span></a>
    <ul>
      <li><a href="marketin">text_marketin</a></li>
      <li><a href="affiliate">text_affiliate</a></li>
      <li><a href="coupon">text_coupon</a></li>
      <li><a href="contact">text_contact</a></li>
    </ul>
  </li>
  <li id="system"><a class="parent"><i class="fa fa-cog fa-fw"></i> <span>text_system</span></a>
    <ul>
      <li><a href="settin">text_settin</a></li>
      <li><a class="parent">text_design</a>
        <ul>
          <li><a href="layout">text_layout</a></li>
          <li><a href="banner">text_banner</a></li>
        </ul>
      </li>
      <li><a class="parent">text_users</a>
        <ul>
          <li><a href="user">text_user</a></li>
          <li><a href="user_group">text_user_group</a></li>
          <li><a href="api">text_api</a></li>
        </ul>
      </li>
      <li><a class="parent">text_localisation</a>
        <ul>
          <li><a href="location">text_location</a></li>
          <li><a href="language">text_language</a></li>
          <li><a href="currency">text_currency</a></li>
          <li><a href="stock_status">text_stock_status</a></li>
          <li><a href="order_status">text_order_status</a></li>
          <li><a class="parent">text_return</a>
            <ul>
              <li><a href="return_status">text_return_status</a></li>
              <li><a href="return_action">text_return_action</a></li>
              <li><a href="return_reason">text_return_reason</a></li>
            </ul>
          </li>
          <li><a href="country">text_country</a></li>
          <li><a href="zone">text_zone</a></li>
          <li><a href="geo_zone">text_geo_zone</a></li>
          <li><a class="parent">text_tax</a>
            <ul>
              <li><a href="tax_class">text_tax_class</a></li>
              <li><a href="tax_rate">text_tax_rate</a></li>
            </ul>
          </li>
          <li><a href="length_class">text_length_class</a></li>
          <li><a href="weight_class">text_weight_class</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li id="tools"><a class="parent"><i class="fa fa-wrench fa-fw"></i> <span>text_tools</span></a>
    <ul>
      <li><a href="upload">text_upload</a></li>
      <li><a href="backup">text_backup</a></li>
      <li><a href="error_lo">text_error_lo</a></li>
    </ul>
  </li>
  <li id="reports"><a class="parent"><i class="fa fa-bar-chart-o fa-fw"></i> <span>text_reports</span></a>
    <ul>
      <li><a class="parent">text_sale</a>
        <ul>
          <li><a href="report_sale_order">text_report_sale_order</a></li>
          <li><a href="report_sale_tax">text_report_sale_tax</a></li>
          <li><a href="report_sale_shippin">text_report_sale_shippin</a></li>
          <li><a href="report_sale_return">text_report_sale_return</a></li>
          <li><a href="report_sale_coupon">text_report_sale_coupon</a></li>
        </ul>
      </li>
      <li><a class="parent">text_product</a>
        <ul>
          <li><a href="report_product_viewed">text_report_product_viewed</a></li>
          <li><a href="report_product_purchased">text_report_product_purchased</a></li>
        </ul>
      </li>
      <li><a class="parent">text_customer</a>
        <ul>
          <li><a href="report_customer_online">text_report_customer_online</a></li>
          <li><a href="report_customer_activity">text_report_customer_activity</a></li>
          <li><a href="report_customer_order">text_report_customer_order</a></li>
          <li><a href="report_customer_reward">text_report_customer_reward</a></li>
          <li><a href="report_customer_credit">text_report_customer_credit</a></li>
        </ul>
      </li>
      <li><a class="parent">text_marketin</a>
        <ul>
          <li><a href="report_marketin">text_marketin</a></li>
          <li><a href="report_affiliate">text_report_affiliate</a></li>
          <li><a href="report_affiliate_activity">text_report_affiliate_activity</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
