<div id="profile">
  <div><a class="dropdown-toggle" data-toggle="dropdown">
      <img src="image" alt="Robert Duy" title="Robert Duy" class="img-circle" /></a>
  </div>
  <div>
    <h4>Robert Duy</h4>
    <small>Admin</small></div>
</div>
