<div id="profile">
  <div><a class="dropdown-toggle" data-toggle="dropdown">
      <img src="img/Robert_avatar.png" style="height: 40px; width: 40px;"
      alt="Robert Duy" title="Robert Duy" class="img-circle" /></a>
  </div>
  <div>
    <h4>Robert Duy</h4>
    <small>Standard member</small></div>
</div>
