<% include conference/header %>
<% include conference/column_left %>
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <h1>heading_title</h1>
            <ul class="breadcrumb">
                <li><a href="">text breadcrum</a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">order</div>
            <div class="col-lg-3 col-md-3 col-sm-6">sale</div>
            <div class="col-lg-3 col-md-3 col-sm-6">customer</div>
            <div class="col-lg-3 col-md-3 col-sm-6">online</div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sx-12 col-sm-12">map</div>
            <div class="col-lg-6 col-md-12 col-sx-12 col-sm-12">chart</div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-sx-12">activity</div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-sx-12"> recent </div>
        </div>
    </div>
</div>
<% include conference/footer %>