<% include conference/header %>
<% include conference/column_left %>
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <h1>HD Room Viettel</h1>
        </div>
    </div>
    <div class="container-fluid text-center">
        <img src="img/no_video.png" />
        <div class="row video-tool" style="background-color: #444444">
            <a href="" class="a-video-tool"><i class="fa fa-user-plus fa-3x"></i></a>
            <a class="a-video-tool" data-toggle="collapse" href="#commentDiv" aria-expanded="false" aria-controls="commentDiv">
                <i class="fa fa-comments-o fa-3x"></i>
            </a>
            <a href="" class="a-video-tool"><i class="fa fa-microphone fa-3x"></i></a>
            <a href="" class="a-video-tool"><i class="fa fa-video-camera fa-3x"></i></a>
            <a href="" class="a-video-tool"><i class="fa fa-phone-square fa-3x"></i></a>
        </div>
        <div class="collapse" id="commentDiv" style="padding-top: 10px;">
            <div class="row" style="padding-left: 18%;">
                <div class="col-md-9"><textarea class="form-control" rows="3"></textarea></div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-primary">
                        <i class="fa fa-paper-plane"></i> &nbsp; Send
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<% include conference/footer %>